body, html {
    padding-bottom: 40px;
}

.photo-background {
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.form-width {
    margin: 10px auto;
    border: 1px solid #CCC;
    box-sizing: border-box;
    padding: 10px;
}

.login-form {
    background-color: white;
    max-width: 400px;
    margin: 0px auto;
    border: 1px solid #CCC;
    box-sizing: border-box;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.register-inline-form {
    background-color: white;
    margin: 10px auto;
    width: 100%;
    border: 1px solid #CCC;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.footer-bottom {
    background: #33333d;
    color: #999;
    text-align: center;
    bottom: 0;
    padding:10px 0px 30px 0px;
    border-top: 1px solid #1e1e29;
    position: fixed;
    width: 100%;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .form-width {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .form-width {
        width: 100%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .form-width {
        width: 70%;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .form-width {
        width: 70%;
    }
}
